language: php
php:
  - 5.6
  - 7.0
  - 7.1

cache: apt
env:
  global:
    - CORE_BRANCH=master
    - APP_NAME=clockwork
  matrix:
    - DB=sqlite

branches:
  only:
    - master
    - /^stable\d+(\.\d+)?$/

before_install:
  - wget https://raw.githubusercontent.com/owncloud/administration/master/travis-ci/before_install.sh
  - bash ./before_install.sh $APP_NAME $CORE_BRANCH $DB
  - cd ../core
  - php occ app:enable $APP_NAME

script:
  - cd apps/$APP_NAME
  # Run phpunit tests
  - phpunit --configuration phpunit.xml

  # Create coverage report
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover clover.xml

matrix:
  include:
    - php: 5.4
      env: DB=mysql CORE_BRANCH=stable9.1
    - php: 5.4
      env: DB=mysql CORE_BRANCH=stable9.0
  fast_finish: true
